body, h1, h2, h3, h4, h5, h6 {
	font-family: 'Noto Sans', sans-serif !important;
}

.gmap-icons img{
    max-width: none
}

.vcard {
	line-height: normal;
	margin: 0 0 0 0;
	border: none;
	padding: 0 0 0 0;
}

.vcard .fn {
	font-weight: normal;
	font-size: 1rem;
}

.footer {
	text-align: center;
}

#profile {
	float: right;
}

.footer h6 {
	font-size: 0.6rem;
}

#mapimg, #mapframe {
	border: 0;
}

#mapframe {
	display: none;
}

.header {
	margin-bottom: 15px;
}

.content {
	padding-top: 10px;
}

.role {
	display: none;
}

.side-nav li a {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}
