body, h1, h2, h3, h4, h5, h6, .side-nav li a {
	font-family: 'Open Sans', sans-serif !important;
}

body {
	background: url('../images/sky.jpg') top left repeat-x;
}

.gmap-icons img{
    max-width: none
}

.vcard {
	line-height: normal;
	margin: 0 0 0 0;
	border: none;
	padding: 0 0 0 0;
}

.vcard .fn {
	font-weight: normal;
	font-size: 1rem;
}

.footer {
	text-align: center;
}

.footer h6 {
	font-size: 0.6rem;
}

#mapimg, #mapframe {
	border: 0;
}

#mapframe {
	display: none;
}

.header {
	padding-top: 25px;
	margin-bottom: 15px;
}

.content {
	padding-top: 10px;
}

.role {
	display: none;
}

.side-nav li a {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.portrait {
	float: right;
	margin-left: 20px;
	margin-bottom: 10px;
}

.portrait.small {
	display: none;
}

@media only screen and (max-width: 40em) {
	.portrait.large {
		display: none;
	}

	.portrait.small {
		display: block;
		max-height: 16em;
		float:right;
	}

	.side-nav li {
		text-align: center;
	}

	.contentpage h3 {
		text-align: center;
	}

}


.contentpage{
	max-height: 1000000px;
}
